h2 {
    font-size: x-large;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    padding: 5%;
  }
  /*************INDEX*****************/
  #index.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  #loginForm input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #0068FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #loginForm button:hover {
    background-color: #004bb5;
  }
  /*************DASHBOARD*****************/
  .dashboard .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  .dashboard .menu button {
    padding: 15px;
    margin: 10px 0;
    background-color: #0068FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .dashboard .menu button:hover {
    background-color: #004bb5;
  }
  
  .dashboard .menu a {
    text-decoration: none;
    color: inherit;
  }
  /*************MIS_DATOS*****************/
  .datos .data-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: left;
  }
  
  .datos .data-container div {
    margin-bottom: 10px;
  }
  
  .datos .data-container input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .datos .data-container button {
    width: 100%;
    padding: 10px;
    background-color: #0068FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .datos .data-container button:hover {
    background-color: #004bb5;
  }
  /*************MIS_QRS*****************/
  .qrs .qr-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  /*************FORMULARIO*****************/
  
  .formulario #contactForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .formulario #contactForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .formulario #contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #0068FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario #contactForm button:hover {
    background-color: #004bb5;
  }
  
  /*************FORMULARIO*****************/
  
  .qr-generated{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      text-align: center;
  }
  
  .qr-generated #qrcode {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  
  .back-button{
      padding: 10px;
      background-color: #0068FF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      width: 100%;
  }